
* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#body {
    background-color: cornsilk;
}
#navBar {
    background-color: tomato;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

#title {
    margin: 5%;
    justify-content: space-around;
}

#textarea {
    resize: none;
    background-color: bisque;
    padding: 1%;
    flex: 1;
    
}
#safe_image{
    width: 128px;
    height: 128px;
    margin-top: 5%;

}
#textareadiv {
    margin: 2%;
    display: flex;
    height: 300px;
}

#currency_amount{
    resize: none;
}

.div{
    margin: 3%;
    display: flex;
}

.div_line{
    margin: 1%;
}

.lr_div{
    flex: 1;
}

.input_box{
    height: 20px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button1:hover {
    background-color: #04AA6D;
    color: white;
}

.button {
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid black;
}

.button:hover {
    background-color: #04AA6D;
    color: white;
}
